<loading-page *ngIf="project_id !== '' && loading"></loading-page>

<folder-view 
  *ngIf="!(project_id !== '' && loading) && carpet"
  [folder]="project_loaded"
></folder-view>

<div *ngIf="!(project_id !== '' && loading) && !carpet" class="container">
  <div class="code-btngroup">
    <button class="btn-max" (click)="onSelectModal(1, 'HTML')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editor HTML</button>
    <button class="btn-max" (click)="onSelectModal(2, 'CSS')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editor CSS</button>
    <button class="btn-max" (click)="onSelectModal(3, 'JAVASCRIPT')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editor JS</button>
  </div>
  
  <div class="row code-row">
    <div class="col-md-4 mb-3 pr">
      <div class="cont-edit scrollbar">
        <app-prism-editor [textareaContent]="htmltext"
        (codeChange)="onHtmlChange($event, 1)"
        ></app-prism-editor>
      </div>
      <button class="btn-max" (click)="onSelectModal(1, 'HTML')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-maximize"></i></button>
    </div>
    
    <div class="col-md-4 mb-3 pr">
      <div class="cont-edit scrollbar">
        <app-prism-editor [textareaContent]="csstext"
        (codeChange)="onHtmlChange($event, 2)"
        codeType="css"
        ></app-prism-editor>
      </div>
      <button class="btn-max" (click)="onSelectModal(2, 'CSS')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class="fa-solid fa-maximize"></i></button>
    </div>
    
    <div class="col-md-4 mb-3 pr">
      <div class="cont-edit scrollbar">
        <app-prism-editor [textareaContent]="jstext"
        (codeChange)="onHtmlChange($event, 3)"
        codeType="js"
        ></app-prism-editor>
      </div>
      <button class="btn-max" (click)="onSelectModal(3, 'JAVASCRIPT')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class="fa-solid fa-maximize"></i></button>
    </div>
  </div>

  <div class="visualizer bg-light shadow-sm">
    <iframe class="frame" [srcdoc]="html" [frameBorder]="0"></iframe>
  </div>
  
  <div *ngIf="enablesave" class="editor-save py-3">
    <div class="mx-2">
      <share-modal *ngIf="share && editable" [project_id]="project_id"></share-modal>
    </div>
    <simple-modal icon="fa-solid fa-save" *ngIf="project_id === ''" (onsave)="fnSave($event)" btnLaunch="Guardar" title="Guardar un nuevo proyecto" placeholder="Ingrese un nombre para su proyecto"></simple-modal>
    <simple-modal icon="fa-solid fa-save" *ngIf="project_id" (onsave)="fnUpdate($event)" btnLaunch="Guardar" title="Actualizar proyecto" [placeholder]="project_loaded!.title!" [public]="project_loaded!.public"></simple-modal>
    <button class="btn btn-danger mx-2"  *ngIf="project_id && editable" (click)="fnDelete()" ><i class="fa-solid fa-trash"></i></button>
    <button class="btn btn-secondary mx-2" (click)="fnCancel.emit()"><i class="fa-solid fa-arrow-left" ></i></button>
  </div>
  
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{modaltitle}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body mb-3 pr scrollbar">
          <app-prism-editor *ngIf="selectedmodal === 1" classmain="code-main" [textareaContent]="htmltext"
            (codeChange)="onHtmlChange($event, 1)"
          ></app-prism-editor>
          <app-prism-editor *ngIf="selectedmodal === 2" classmain="code-main"  [textareaContent]="csstext"
            (codeChange)="onHtmlChange($event, 2)"
            codeType="css"
          ></app-prism-editor>
          <app-prism-editor *ngIf="selectedmodal === 3" classmain="code-main"  [textareaContent]="jstext"
            (codeChange)="onHtmlChange($event, 3)"
            codeType="js"
          ></app-prism-editor>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Terminar
        </button>
      </div>
    </div>
  </div>
</div>


