<div class="container">
  <div class="code-btngroup">
    <button class="btn-max" (click)="onSelectModal(1, 'HTML')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editor HTML</button>
    <button class="btn-max" (click)="onSelectModal(2, 'CSS')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editor CSS</button>
    <button class="btn-max" (click)="onSelectModal(3, 'JAVASCRIPT')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editor JS</button>
  </div>
  
  <div class="row code-row">
    <div class="col-md-4 mb-3 pr">
      <app-prism-editor [textareaContent]="htmltext"
      (codeChange)="onHtmlChange($event, 1)"
      ></app-prism-editor>
      <button class="btn-max" (click)="onSelectModal(1, 'HTML')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-maximize"></i></button>
    </div>
    
    <div class="col-md-4 mb-3 pr">
      <app-prism-editor [textareaContent]="csstext"
      (codeChange)="onHtmlChange($event, 2)"
      codeType="css"
      ></app-prism-editor>
      <button class="btn-max" (click)="onSelectModal(2, 'CSS')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class="fa-solid fa-maximize"></i></button>
    </div>
    
    <div class="col-md-4 mb-3 pr">
      <app-prism-editor [textareaContent]="jstext"
      (codeChange)="onHtmlChange($event, 3)"
      codeType="js"
      ></app-prism-editor>
      <button class="btn-max" (click)="onSelectModal(3, 'JAVASCRIPT')" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class="fa-solid fa-maximize"></i></button>
    </div>
  </div>

  <div class="visualizer bg-light shadow-sm">
    <iframe class="frame" [srcdoc]="html" [frameBorder]="0"></iframe>
  </div>
  
  <div *ngIf="enablesave" class="editor-save py-3">
    <button id="btnCompartir" class="btn btn-success" (click)="abrirModal()">Compartir</button>
    &nbsp;
    <simple-modal (onsave)="fnSave($event)" btnLaunch="Guardar" title="Guardar un nuevo proyecto" placeholder="Ingrese un nombre para su proyecto"></simple-modal>
    &nbsp;
    <button class="btn btn-secondary mr-2" (click)="fnCancel.emit()">Cancelar</button>
  </div>
  
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{modaltitle}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body mb-3 pr scrollbar">
          <app-prism-editor *ngIf="selectedmodal === 1" classmain="code-main" [textareaContent]="htmltext"
            (codeChange)="onHtmlChange($event, 1)"
          ></app-prism-editor>
          <app-prism-editor *ngIf="selectedmodal === 2" classmain="code-main"  [textareaContent]="csstext"
            (codeChange)="onHtmlChange($event, 2)"
            codeType="css"
          ></app-prism-editor>
          <app-prism-editor *ngIf="selectedmodal === 3" classmain="code-main"  [textareaContent]="jstext"
            (codeChange)="onHtmlChange($event, 3)"
            codeType="js"
          ></app-prism-editor>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Terminar
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal" [ngClass]="{'d-block': modalAbierta, 'd-none': !modalAbierta}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" style="color: #000000;">Compartir con:</h3>
        <button type="button" class="close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <div class="usuarioSugerido">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="usuario-seguido" class="rounded-circle" width="35">
            <h6 style="color: #000000;">Nombre de usuario seguido</h6>
          </div>
          <hr style="color: #000000;">
          <div class="usuarioSugerido">
            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="usuario-seguido" class="rounded-circle" width="35">
            <h6 style="color: #000000;">Nombre de usuario seguido</h6>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
        <button type="button" class="btn btn-primary">Compartir</button>
      </div>
    </div>
  </div>
</div>