.try-head{
    display: flex;
    align-items: center;

    h1{
        margin-left: 15px;
        margin-bottom: 0px;
    }
}

#registrate{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: normal;
}