<loading-page *ngIf="loading"></loading-page>

<div *ngIf="!loading" class="py-1">
  <hylia-navbar [title]="title"></hylia-navbar>
  <br>
  <br>
  <div *ngIf="!newp && selected === ''" class="bar-container row py-3 mt-4">
    <div class="col-md-6 px-5">
      <button class="btn" (click)="changeView()">{{btnnew}}</button>
    </div>
    <div class="col-md-6 px-5"></div>
  </div>

  <div *ngIf="projects.length === 0 && !newp" class="container py-2">
    <div class="table-rw py-2 text-center my-2">
      <h4 class="mb-0">No hay datos para mostrar!</h4>
    </div>
  </div>

  <div *ngIf="!newp && selected === ''" class="container py-3 table scrollbar">
    <div class="row pr">
      <div *ngFor="let p of projects" class="col-lg-4 mb-3 px-3">
        <div class="card-st card h-100" (dblclick)="selectProject(p._id!)">
          <div class="card-bd card-body px-3">
            <div class="row">
              <div class="col-4 py-2 d-flex row-center">
                <i class="fa-solid fa-code fa-2xl"></i>
              </div>
              <div class="col-8">
                <div class="card-title my-3"><b>{{p.title}}</b></div>
                <div class="card-text my-1">
                  <b>Tipo: </b>{{p.public? 'PUBLICO':'PRIVADO'}}
                </div>
                <div class="card-text my-1">
                  <b>Fecha:</b> {{p.created_at_str}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="newp" class="mt-4 view-container">
    <app-code-viewer (fnCancel)="changeView()"></app-code-viewer>
  </div>

  <div *ngIf="selected !== '' && !newp" class="mt-4 view-container">
    <app-code-viewer (loadProject)="loadProject($event)" [project_id]="selected" (fnCancel)="deSelect()"></app-code-viewer>
  </div>

</div>
