<div id="barraNav">
    <div id="conlogo">
        <img id="logohylia" src="/assets/imgs/LogoHylia.png" alt="">
        <span id="textlogo">HYLIA NOTE</span>
    </div>
</div>

<section class="main rounded py-5 px-4 shadow container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-h  px-5 py-4 w-8">
                <h1 class="mb-4">Iniciar sesion</h1>
                <input class="form-control" placeholder="Usuario" />
                <input class="form-control" placeholder="Contraseña" />
                <button class="btn mb-3 mt-4">Acceder</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-h px-5 py-4">
                <h1 class="mb-4 mt-2">Registrarse</h1>
                <input class="form-control" placeholder="Nombre" />
                <input class="form-control" placeholder="Apellido" />
                <input class="form-control" placeholder="Correo" />
                <input class="form-control" placeholder="Contraseña" />
                <input class="form-control" placeholder="Repita la Contraseña" />
                <button class="btn mb-4 mt-4">Continuar</button>
            </div>
        </div>
    </div>
</section>