<section class="main rounded py-5 px-4 shadow container">
    <div class="row">
        <div class="col-md-6 px-5 py-3">
            <form>
                <label><h2><b>Iniciar sesion</b></h2></label>
                <input class="form-control" placeholder="Usuario" />
                <input class="form-control" placeholder="Contraseña" />
                <hr />
                <button class="btn btn-primary mb-3 mt-2">Acceder</button>
            </form>
        </div>
        <div class="col-md-6 px-5 py-3">
            <form>
                <label><h2><b>Registrarse</b></h2></label>
                <input class="form-control" placeholder="Nombre" />
                <input class="form-control" placeholder="Apellido" />
                <input class="form-control" placeholder="Correo" />
                <input class="form-control" placeholder="Contraseña" />
                <input class="form-control" placeholder="Repita la Contraseña" />
                <hr />
                <button class="btn btn-primary mb-3 mt-2">Continuar</button>
            </form>
        </div>
    </div>
</section>