.main{
    margin-top: 50px;
    margin-bottom: 50px;
}

.main .row{
    min-height: 250px;
}



.main h2{
    margin-bottom: 20px;
    margin-top: 20px;
}

.main .form-control{
    margin-top: 5px;
    margin-bottom:20px
}