<div class="container py-2">
    <div class="form-h px-5 py-4">
        <h2 class="mb-3 mt-2">Edita tus datos</h2>
        <div class="row">
            <div class="col-md-6">
                <h4>Datos Personales</h4>
                <hr />
                <input class="form-control mb-2" name="name" (input)="ch.handleChange($event)" placeholder="Nombre" />
                <input class="form-control mb-2" name="lastname" (input)="ch.handleChange($event)" placeholder="Apellido" />
            </div>
            <div class="col-md-6">
                <h4>Datos de la cuenta</h4>
                <hr/>
                <input type="password" class="form-control mb-2" name="pass" (input)="fnComparePass($event)" placeholder="Contraseña" />
                <input type="password" class="form-control mb-2" name="pass_ver" (input)="fnComparePass($event)" placeholder="Repita la Contraseña" />
                <p *ngIf="pass_len" style="color:red">La contraseña debe ser de almenos 8 caracteres</p>
                <p *ngIf="pass_alert" style="color:red">Las contraseñas deben coincidir</p>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <h4>Sube una imagen</h4>
            <file-upload (loadimg)="setImg($event)" ></file-upload>
        </div>
        <hr />

        <h3 class="mt-1">Actualiza tu plan</h3>
              <hr />
              <div class="cleared-form ">
                <div class="row">
                    <div class="mx-2 col-md-3 py-2 px-3 plan-card rounded h-100" [style]= "getStyle(0)" (click)="setSelected(0)">
                      <h3 class="mb-0 mt-2">Plan Gratuito</h3>
                      <hr class="my-2" />
                      <p>Limite: 1 proyecto</p>
                    </div>

                    <div class="mx-2 col-md-3 py-2 px-3 plan-card rounded h-100" [style]= "getStyle(1)" (click)="setSelected(1)">
                      <h3 class="mb-0 mt-2">Plan Estandar</h3>
                      <hr class="my-2" />
                      <p>Limite: 5 proyecto</p>
                    </div>

                    <div class="mx-2 col-md-3 py-2 px-3 plan-card rounded h-100" [style]= "getStyle(2)" (click)="setSelected(2)">
                      <h3 class="mb-0 mt-2">Plan Profesional</h3>
                      <hr class="my-2" />
                      <p>Limite: ilimitado</p>
                    </div>
                </div>
              </div>
        <div class="d-flex row-reverse">
            <button class="btn mt-3 mx-1" [disabled]="pass_mod && (pass_alert || pass_len)" (click)="fnSave()">Guardar</button>
            <button class="btn btn2 mt-3 mx-1" (click)="fnCancel()">Cancelar</button>
        </div>
    </div>
</div>
