<form class="" [formGroup]="form">
  <div class="code-container">
    <textarea
      #textArea
      placeholder="{{ placeholder }}"
      [(ngModel)]="textareaContent"
      (input)="updateLineNumbers()"
      class="text-area-code-editor scrollbar language-{{codeType}}"
      formControlName="content"
      spellcheck="false"
    ></textarea>
    <pre
      aria-hidden="true"
      class="pre scrollbar"
      #pre
    ><code [ngClass]="['code', 'language-' + codeType]" #codeContent></code>
    <div class="line-numbers">
      <div class="line-numbers-row" *ngFor="let lineNumber of lineNumbers">{{lineNumber}}</div>
    </div>
  </pre>
  </div>
</form>
