<div class="nav-alt">
  <div id="conlogo">
    <img (click)="irALanding()" id="logohylia" src="/assets/imgs/LogoHylia.png" alt="" />
    <span (click)="irALanding()" id="textlogo">HYLIA NOTE</span>
  </div>
</div>

<form [formGroup]="formularioRegistro">
  <section class="main rounded py-5 px-4 shadow container scrollbar">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-10 px-5">
            <div class="form-h px-5 py-4">
              <h1 class="mb-5 mt-3">Bienvenido a Hylia Note!</h1>
              <div class="row">
                <div class="col-md-6">
                  <h4>Datos Personales</h4>
                  <hr />
                  <!--Validacion Nombre-->
                  <input [ngClass]="{'input-error':nombres?.invalid && (nombres?.dirty || nombres?.touched)}" 
                      class="form-control" name="name" formControlName="nombres" (input)="ch.handleChange($event)" placeholder="Nombres" />
                  <div *ngIf="nombres?.invalid && (nombres?.dirty || nombres?.touched)" class="Error">
                    <span *ngIf="nombres?.errors?.['required']">El campo es obligatorio</span>
                  </div>
                  <!--Validacion Apellido--> 
                  <input [ngClass]="{'input-error':apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)}" 
                      class="form-control" name="lastname" formControlName="apellidos" (input)="ch.handleChange($event)" placeholder="Apellidos" />
                  <div *ngIf="apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)" class="Error">
                    <span *ngIf="apellidos?.errors?.['required']">El campo es obligatorio</span>
                  </div>
                  <!--Validacion Correo-->
                  <input [ngClass]="{'input-error':email?.invalid && (email?.dirty || email?.touched)}"
                      class="form-control" name="email" formControlName="email" (input)="ch.handleChange($event)" placeholder="Correo" />
                  <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="Error">
                    <span *ngIf="email?.errors?.['required']">El campo es obligatorio</span>
                    <span *ngIf="email?.errors?.['pattern']">No es un Email valido</span>
                  </div> 
                </div>
                <div class="col-md-6">
                  <h4>Datos de la cuenta</h4>
                  <hr/>
                  <!--Validacion Nickname-->
                  <input [ngClass]="{'input-error':nickname?.invalid && (nickname?.dirty || nickname?.touched)}"
                      class="form-control" name="nickname" formControlName="nickname" (input)="ch.handleChange($event)" placeholder="Nombre de Usuario" />
                  <div *ngIf="nickname?.invalid && (nickname?.dirty || nickname?.touched)" class="Error">
                    <span *ngIf="nickname?.errors?.['required']">El campo es obligatorio</span>
                  </div>
                  <!--Validacion Password-->
                  <input [ngClass]="{'input-error':password?.invalid && (password?.dirty || password?.touched)}"
                      type="password" class="form-control" name="pass" formControlName="password" (input)="ch.handleChange($event)" placeholder="Contraseña" />
                  <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="Error">
                    <span *ngIf="password?.errors?.['required']">El campo es obligatorio</span>
                    <span *ngIf="password?.errors?.['minlength']">Debe contener como minimo 8 caracteres</span>
                  </div> 
                  <!--Validacion Confirmar Password-->
                  <input [ngClass]="{'input-error':confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)}"
                      type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirmar Contraseña" />
                  <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="Error">
                    <span *ngIf="confirmPassword?.errors?.['required']">El campo es obligatorio</span>
                    <span *ngIf="confirmPassword?.errors?.['passwordMismatch']">Las contraseñas no coinciden</span>
                  </div>
                  <label class="d-none" for="opciones">Tipo de Usuario:</label>
                </div>
              </div>
              <h3 class="mt-1">Selecciona un plan</h3>
              <hr />
              <div class="cleared-form ">
                <div class="row">
                    <div class="mx-2 col-md-3 py-2 px-3 plan-card rounded h-100" [style]= "getStyle(0)" (click)="setSelected(0)">
                      <h3 class="mb-0 mt-2">Plan Gratuito</h3>
                      <hr class="my-2" />
                      <p>Limite: 1 proyecto</p>
                    </div>

                    <div class="mx-2 col-md-3 py-2 px-3 plan-card rounded h-100" [style]= "getStyle(1)" (click)="setSelected(1)">
                      <h3 class="mb-0 mt-2">Plan Estandar</h3>
                      <hr class="my-2" />
                      <p>Limite: 5 proyecto</p>
                    </div>

                    <div class="mx-2 col-md-3 py-2 px-3 plan-card rounded h-100" [style]= "getStyle(2)" (click)="setSelected(2)">
                      <h3 class="mb-0 mt-2">Plan Profesional</h3>
                      <hr class="my-2" />
                      <p>Limite: ilimitado</p>
                    </div>
                </div>
              </div>
              
                <button [disabled]="formularioRegistro.invalid" (click)="registerUser()" class="btn mb-4 mt-4">Continuar</button>
            </div>
        </div>
    </div>
</section>
</form>

