<div id="contenedor">
    <div id="barraNav">
        <div id="conlogo">
            <img id="logohylia" src="/assets/imgs/LogoHylia.png" alt="">
            <span id="textlogo">HYLIA NOTE</span>
        </div>
        <div id="barra">
            <button (click)="irATryIt()" class="btnBarra" id="areaTrabajo">Area de Trabajo |</button>
            <button class="btnBarra" id="acercaDe">Acerca De |</button>
            <button (click)="irALogin()" class="btnBarra" id="login">Registrate</button>
        </div>
    </div>
    <div id="conparrafo">
        <h1 id="titulolanding">Tu Gestor de Codificacion Colaborativa en Linea</h1>
        <p id="parrafo">Hylia Note es una plataforma para que puedas crear tus proyectos de codificación web, haz tus
             proyectos, pruébalos en tiempo real, compártelos y hasta puedes recibir retroalimentación de 
             usuarios si tú lo deseas.
        </p>
        <input (click)="irATryIt()" id="btnexplora" type="button" value="Explora >>">
    </div>
    <div id="contaza">
        <img id="taza" src="/assets/imgs/tazaJS.png" alt="">
        <h1 id="pietaza">HTML - CSS - JS</h1>
    </div>
</div>