<div id="contenedor">
    <div id="conlogo">
        <img id="logohylia" src="/assets/imgs/LogoHylia.png" alt="">
        <span id="textlogo">HYLIA NOTE</span>
    </div>
    <div id="conparrafo">
        <h1 id="titulolanding">Tu Gestor de Codificacion Colaborativa en Linea</h1>
        <p id="parrafo">Hylia Note es una plataforma para que puedaz crear tus proyectos de codificacion web, haz tus
            proyectos, pruebalos en tiempo real, compartelos y hasta puedes recibir retroalimentacion de
            usuarios si tu lo deseas.
        </p>
        <input id="btnexplora" type="button" value="Explora >>">
    </div>
    <div id="contaza">
        <img id="taza" src="/assets/imgs/tazaJS.png" alt="">
        <h1 id="pietaza">HTML - CSS - JS</h1>
    </div>
</div>