<div class="main-row row">
  <div class="main-col col-md-2 shadow py-5 px-2 text-center color-e">
    <img class="logo" src="" />
    <h2><b>Hylia Note</b></h2>

    <div class="py-5 text-center">
      <button
        (click)="onChangeView('projects')"
        class="btn-1 btn btn-outline-primary"
      >
        Proyectos
      </button>
    </div>

    <div class="pa fixed-bottom py-2">
      <hr />
      <div class="row-center row px-5">
        <div class="col-md-10 text-center">
          <label>User</label>
        </div>
        <div class="col-md-2 text-center">
          <button class="btn">cs</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 main-col">
    <project *ngIf="project"></project>
  </div>
</div>
