<div class="code-view">
  <div class="row">
    <app-prism-editor
      class="column"
      (codeChange)="onHtmlChange($event, 1)"
    ></app-prism-editor>
    <app-prism-editor
      class="column"
      (codeChange)="onHtmlChange($event, 2)"
      codeType="css"
    ></app-prism-editor>
    <app-prism-editor
      class="column"
      (codeChange)="onHtmlChange($event, 3)"
      codeType="js"
    ></app-prism-editor>
  </div>
  <div class="visualizer">
    <iframe class="frame" [srcdoc]="html" [frameBorder]="0"></iframe>
  </div>
  <label style="color:white">{{html}}</label>
</div>
