<div class="card h-100 container-t">
    <div class="card-body">
      <h6 class="d-flex align-items-center mb-3">
        <i class="material-icons text-info mr-2">account_circle</i
        >Usuarios Seguidos
      </h6>
      <div class="usuarioSeguido">
        <img
          src="https://bootdey.com/img/Content/avatar/avatar6.png"
          alt="usuario-seguido"
          class="rounded-circle"
          width="35"
        />
        <h6>Nombre de usuario seguido</h6>
      </div>
      <hr />
      <div class="usuarioSeguido">
        <img
          src="https://bootdey.com/img/Content/avatar/avatar5.png"
          alt="usuario-seguido"
          class="rounded-circle"
          width="35"
        />
        <h6>Nombre de usuario seguido</h6>
      </div>
    </div>
  </div>