<div class="card container-t h-100">
  <div class="card-body">
    <h6 class="d-flex align-items-center mb-3">
      <i class="material-icons text-info mr-2">account_circle</i>{{title}}
    </h6>
    <hr />
    <div class="d-flex">
      <input
        type="search"
        id="form1"
        class="form-control"
        placeholder="Buscar"
        (input)="findUser($event)"
      />
      <button type="button" class="btn btn-primary d-flex row-center" (click)="fnSearch()">
        <i class="material-icons">search</i>
      </button>
    </div>

    <div *ngFor="let user of users">
      <div class="container-fluid py-2 user-select" (click)="btnClick(user._id!)">
        <img
          src={{user.img}}
          alt={{user.nickname}}
          class="rounded-circle"
          width="45"
        />
        <h4 class="mb-0 mx-3">{{user.name}} {{user.lastname}} ({{user.nickname}})</h4>
      </div>
      <hr class="my-0 d-none" />
    </div>

  </div>
</div>
