@import "bootstrap/dist/css/bootstrap.min";
@import "prismjs/themes/prism-okaidia";

body {
  background-image: url("./imgs/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 0, 0, 0);
}

.main-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;

  .main-row {
    min-height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-col {
    min-height: 100vh;
    position: relative;
  }
}

.pa {
  position: absolute;
}

.row-center {
  justify-content: center;
  align-items: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.logo {
  width: 150px;
  height: 150px;
}

.color-e{
  background-color: rgb(15, 15, 15);
  color: whitesmoke;
  
}
