@import "bootstrap/dist/css/bootstrap.min";
@import "prismjs/themes/prism-okaidia";

body {
  background-image: url("/assets/imgs/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 0, 0, 0);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color:white;
}

h1{
  margin-bottom: 0px !important;
}

/*LOGO*/
#conlogo {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
}

#logohylia {
  width: 40px;
  margin-right: 10px;
  
}
#textlogo {
  color: rgb(190, 224, 247);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.logo-mini{
  width: 50px;
}

.nav-container{
  padding-top: 7vh;
  padding-bottom: 1vh;
}

.form-h{
  
  background-color: #212529c8;
  width: 100%;
  border-radius: 10px;

}

.view-container, .bar-container{
  background-color: #212529a0;
  color: rgb(229, 229, 229); 
}

.view-container{
  position: relative;
  padding-bottom: 15px;
  padding-top: 25px;
}

.form-h, .bar-container{
  
  .btn{
    background-color: #60a5fa;
    color:white;
    border-style: none;
  }
  
  .btn:active{
    background-color: #60a5fa;
    opacity: 0.7;
    border-style: none;
  }
}


.main-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;

  .main-row {
    min-height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-col {
    min-height: 100vh;
    position: relative;
  }
}

.pa {
  position: absolute;
}

.pr{
  position: relative;
}

.row-center {
  justify-content: center;
  align-items: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.logo {
  width: 150px;
  height: 150px;
}


.w-8{
  width: 80%;
}
